node_modules/
vendor/
__pycache__/
*.pyc
.env
.env.local
.env.production
.DS_Store
/dist
/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
*.log
.idea/
.vscode/
*.sqlite
*.db

# Ruby - intrahub_reports
intrahub_reports/log/*
intrahub_reports/tmp/*
intrahub_reports/vendor/*
intrahub_reports/msys64/*

# Dejar solo archivos de marcador
!intrahub_reports/log/.keep
!intrahub_reports/tmp/.keep
